@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;600;700&display=swap');

a {
  @apply text-blue-800;
}

* {
  font-family: 'Frank Ruhl Libre' !important;
}


h3 {
  @apply w-full border-gray-600 px-1 font-medium mb-2;
  border-bottom-width: 1px;
  box-shadow: 0 2px 2px -2px gray;
}